body {
    background:#0989B4;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.first-container{
    max-height: 100%;
    height: 100%;
}

.top-bg-container{
    position: relative;
    max-width: 50%;
    max-height: 50%;
    bottom: 500px;
}

.top-bg-img{
    position: absolute;
    right: 0;
}

.bottom-bg-container{
    position: relative;
    max-height: 200px;
    max-width: 100px;
    width: 100px;
}

.bottom-bg-img{
    position: absolute;
    top: 50%;
    left: 50%;
}