body{
    background-color: #0989B4;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
}

.main-container {
    text-align: center;
}

.top-img{
    position: fixed;
    bottom: 50%;
    right: 50%;
    size: 100%;
}

.bottom-img{
    position: fixed;
    left: 50%;
    top: 50%;
    size: 100%;
}

.card-container{
    position: relative;
    margin: 150px auto auto auto;
    height: 400px;
    width: 350px;
    background-color: antiquewhite;
}